html{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    scroll-behavior: smooth;
    height: 100%
}

body{
    color: white;
    background-color: rgb(255, 255, 107);
    margin: 0px;
    padding: 0px;
    height: 100%;
}

nav{
    background: rgb(102, 3, 168);
    position: absolute;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 60px;
}
.navbar-text{
    color: white;
    transition: 300ms color ease, 300ms font-weight ease;
}

#logo{
    margin-left: 25px;
    font-size: 25px;
}

ul{
    list-style-type: none;
    height: 250px;
    margin-bottom: 40px
}

ul.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
    transition: 300ms all ease
}



.second-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    width: 70%;
}

.second-navbar:hover .navbar-text:hover{
    color: yellow;
    font-weight: bolder;
    cursor: pointer;
}

.welcome-page-container{
    background-color: rgb(139, 94, 211);
    background-size: cover;
    height:450px;
    width: auto;
}

.welcome-page-text-container{
    width:auto;
    height: 400px;
    text-align: center;
    margin-top: 75px;
}

.welcome-page-items-flexbox{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.about{
    margin-left: 50px;
    margin-right: 50px;

}

.samples-container{
    background-color: rgb(102, 3, 168);
    background-size: auto;
    height: 650px;
    width: auto;
}

.samples-title{
    text-align: center;
    margin-top: 3px;
    padding-top: 15px;
    margin-bottom: 3px;
}

.samples-text{
    text-align: center;
    margin:3px;
}


.samples-flex-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.meal-title{
    text-align: center;
}

.meal-paragraph{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.meal-image-box{
    width: 300px;
    height: 400px;

}

.reviews-container{
    background-color:rgb(139, 94, 211);
    background-size: cover;
    height: 400px;
    width: auto;
}

.reviews-title{
    text-align: center;
    margin-top: 3px;
    padding-top: 15px;
}

.carosel{
    width: 100%;
}

.carosel-container{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0px;
    align-items: center;
    height: 300px
}

.carosel-box{
    position: relative;
    display: inline-block;
    height: 300px;
    width: 400px;
    background-color: rgb(102, 3, 168);
    margin-left: 10px;
    margin-right: 10px;
    
    
}

.review-box{
    text-align: center;
    justify-items: center;
    vertical-align:bottom;
    word-wrap: break-word;
    margin: 15px;
}

.carosel-box:hover{
    color:yellow;
}


.pictures-container{
    background-color: rgb(102, 3, 168);
    background-size: cover;
    height: 500px;
    width: auto;
}

.pictures-title{
    text-align: center;
    margin-top: 3px;
    padding-top: 15px;
}

.contact-container{
    background-color: rgb(139, 94, 211);
    background-size: cover;
    height: 200px;
    width: auto;
}

.contact-title{
    text-align: center;
    margin-top: 3px;
    padding-top: 15px;
}

.contact-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.footer{
    font-size: 10px;
    text-align: center;
    margin-top: 40px;
}

@media only screen and (max-width: 640px) {

}