html{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    scroll-behavior: smooth;
    height: 100%
}

body{
    color: rgb(31, 29, 190);
    margin: 0px;
    padding: 0px;
    height: 100%;
}

nav{
    background: rgb(102, 3, 168);
    position: absolute;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 4em;
}
.navbar-text{
    color: white;
    transition: 300ms color ease, 300ms font-weight ease;
}

#logo{
    margin-left: 25px;
    font-size: 20px;
}

ul{
    list-style-type: none;
    height: 250px;
    margin-bottom: 40px
}

ul.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
    transition: 300ms all ease
}



.second-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    width: 70%;
}

.second-navbar:hover .navbar-text:hover{
    color: yellow;
    font-weight: bolder;
    cursor: pointer;
}

.welcome-page-text-container{
    width:auto;
    height: 400px;
    text-align: center;
    margin-top: 100px;
}

.welcome-page-container{
    background-color: rgb(139, 94, 211);
    background-size: cover;
    height: 80vh;
    width: auto;
    background-position-y: 250em;

}

.welcome-page-items-flexbox{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.samples-container{
    background-color: rgb(139, 94, 211);
    background-size: cover;
    height: 80vh;
    width: auto;
    background-position-y: 250em;
}

.pictures-container{
    background-color: rgb(139, 94, 211);
    background-size: cover;
    height: 80vh;
    width: auto;
    background-position-y: 250em;
}

.reviews-container{
    background-color: rgb(139, 94, 211);
    background-size: cover;
    height: 80vh;
    width: auto;
    background-position-y: 250em;
}

.contact-container{
    background-color: rgb(139, 94, 211);
    background-size: cover;
    height: 80vh;
    width: auto;
    background-position-y: 250em;
}